# Unity generated
Temp/
Obj/
Build
Library/
ProjectSettings/

# IDE / Tooling
.vs/
.vscode/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/

# OS generated
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

Assets/Editor
Assets/Editor.meta
Assets/Haste
Assets/Haste.meta
Assets/VSCode
Assets/VSCode.meta
Assets/MyTest.cs
Assets/MyTest.cs.meta
Assets/WSATestCertificate.pfx
Assets/WSATestCertificate.pfx.meta
