*.suo
Assembly*.csproj
*.sln
*.vscode
*.DS_Store

Library/
Temp/
obj/

create_release_dlls.cmd

Assets/Editor
Assets/Editor.meta
Assets/Haste
Assets/Haste.meta
Assets/VSCode
Assets/VSCode.meta
Assets/MyTest.cs
Assets/MyTest.cs.meta
Assets/WSATestCertificate.pfx
Assets/WSATestCertificate.pfx.meta
